[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "~=5.2.1"
djoser = "*"
mysqlclient = "*"
pymysql = "*"
djangorestframework-xml = "*"

[dev-packages]

[requires]
python_version = "3.9"
